<app-navbar></app-navbar>

<div *ngIf="showWelcomeMessage"  class="body">
  <h1>Music finder</h1>
  <h3 class="ancho">  
    Welcome to the music finder, if it's your first time here or your authorization expired, 
    click the continue button, you are going to be redirect to the spotify login page, 
    please make sure you authorize us to continue, optionaly you can click the buttom<span><b> Login 
    Spotify </b></span> on the navigation bar to continue at any moment.
  </h3>
  <button class="ancho2" mat-raised-button mat-button color="primary" (click)="authorize()">
    Primary 
  </button>
</div>





<div  class="body">
  <div class="login">
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>artist name</mat-label>
      <input matInput  list="datalistOptions" (keyup)="findArtistByname($event)"
      (change)="searchArtist($event)" />
      <datalist id="datalistOptions" >
        <option>searching</option>
        <option *ngFor ="let item of artist " [value]="item.name" >{{item.name}}</option>
    </datalist> 
    </mat-form-field>
    <br />
    <button class="ancho" mat-raised-button mat-button color="primary">
      Primary 
    </button>
  </div>
</div>

